<form action="/sessions" method="post" class="user-forms">
  <label class="user-forms__label" for="sign_in_username">Username</label>
  <input class="user-forms__input" name="username" type="text" id="sign_in_username" placeholder="Username">

  <label class="user-forms__label" for="sign_in_password">Password</label>
  <input class="user-forms__input" name="password" type="password" id="sign_in_password" placeholder="Password">

  <button class="user-forms__button">Login</button>

</form>