<form action="/sessions" method="post" class="fill_ins">
  <label for="sign_in_username">Username</label>
  <input name="username" type="text" id="sign_in_username" placeholder="Username">
  <label for="sign_in_password">Password</label>
  <input name="password" type="password" id="sign_in_password" placeholder="Password">
  <button>Sign in</button>
</form>