<form id="new_user" action="/users" method="post" class="user-forms">
  <label class="user-forms__label" for="new_username">Username</label>
  <input name="username" type="text" id="new_username" placeholder="Choose a Username" class="user-forms__input">

  <label class="user-forms__label" for="new_email">Email</label>
  <input name="email" type="email" id="new_email" placeholder="Email" class="user-forms__input">

  <label class="user-forms__label" for="new_password">Password</label>
  <input name="password" type="password" id="new_password" placeholder="Password" class="user-forms__input">
  <div id="length-alert" class="user-forms__alert" hidden>Password Too SHORT</div>

  <label class="user-forms__label" for="new_password_confirm">Confirm Password</label>
  <input name="password_confirmation" type="password" id="new_password_confirm" placeholder="Confirm Password" class="user-forms__input">
  <div id="match-alert" class="user-forms__alert" hidden>Passwords Don't Match</div>

  <button class="user-forms__button">Register</button>

</form>