<form action="/users" method="post" id="sign_up" class="sign_up">
  <input name="username" type="text">
  <input name="email" type="email">
  <input name="password" type="password">
  <input name="password_confirmation" type="password">
  <button>Sign up</button>
</form>
<form action="/sessions" method="post" id="sign_in" class="sign_in">
  <input name="username" type="text">
  <input name="password" type="password">
  <button>Sign in</button>
</form>
<form  action="/sessions/end" method="post" id="sign_out" class="sign_out">
  <button>Sign out</button>
</form>