<form action="/users" method="post" id="sign_up" class="sign_up">
  <input name="username" type="text">
  <input name="email" type="email">
  <input name="password" type="password">
  <input name="password_confirmation" type="password">
  <button>Sign up</button>
</form>