<form action="/users" method="post" class="fill_ins">
  <label for="new_username">Username</label>
  <input name="username" type="text" id="new_username" placeholder="Choose a Username">
  <label for="new_email">Email</label>
  <input name="email" type="email" id="new_email" placeholder="Email">
  <label for="new_password">Password</label>
  <input name="password" type="password" id="new_password" placeholder="Password">
  <label for="new_password_confirm">Confirm Password</label>
  <input name="password_confirmation" type="password" id="new_password_confirm" placeholder="Confirm Password">
  <button>Sign up</button>
</form>


