<div class="pothole-list">
  <% potholes.each do |pothole| %>
    <div class="pothole-list__item">
      <%= erb :'potholes/_single_pothole', locals: { pothole: pothole }, layout: false %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
$(document).ready( function() {
  var updatePothole = function() {
    $('.pothole-list__content__form__button--flag').off('click');
    $('.pothole-list__content__form__button--unflag').off('click');
    $('.pothole-list__content__form__button--flag').on('click', function(event) {
      event.preventDefault;
      var $clickedButton = $(this)
      $.ajax({
        url: '/flag/' + $clickedButton.data('id'),
        method: 'POST',
        data: $($clickedButton).data('id'),
        success: function(single_pothole) {
          $($clickedButton).closest('.pothole-list__item').html(single_pothole);
          updatePothole()
        }
    })
    return false;
   });

    $('.pothole-list__content__form__button--unflag').on('click', function(event) {
      event.preventDefault;
      var $clickedButton = $(this)
      $.ajax({
        url: '/unflag/' + $clickedButton.data('id'),
        method: 'POST',
        data: $($clickedButton).data('id'),
        success: function(single_pothole) {
          $($clickedButton).closest('.pothole-list__item').html(single_pothole);
          updatePothole()
        }
    })
    return false;
   });
  };
  updatePothole();
});
</script>

