<% if current_user %>
  <form class="user-forms" action="/potholes" method="post">
    <label for="street-name">Street Name</label>
    <input id="street-name" type="text" name="street_name" placeholder="Street Name">
    <label for="town-name">Street Name</label>
    <input id="town-name" type="text" name="town_name" placeholder="Town Name">
    <button>Report</button>
  </form>
<% end %>