
<% if current_user %>
  <form class="user-forms user-forms--report-pothole" action="/potholes" method="post">
    <label for="street-name">Street Name</label>
    <input id="street-name" type="text" name="street_name" placeholder="Street Name">
    <label for="town-name">Town Name</label>
    <input id="town-name" type="text" name="town_name" placeholder="Town Name">
    <button>Report</button>
  </form>
<% end %>
<script>
  var postLocationData = function(location) {
    $.ajax({
      url: "/potholes",
      method: "post",
      data: {
        location: location,
        street_name: $('#street-name').val(),
        town_name: $('#town-name').val()
      },
      success: function(redirect) {
        window.location.replace(redirect);
      }
    });
  };

  var addressToCoords = function(street, town) {
    $.ajax({
      url: "https://maps.googleapis.com/maps/api/geocode/json",
      data: {
        address: street + '+' + town
      },
      success: function(data) {
        postLocationData(data.results[0].geometry.location);
      }
    });
  };

  $('.user-forms--report-pothole').on('submit', function(event) {
    event.preventDefault();
    addressToCoords($('#street-name').val(), $('#town-name').val());
    return false;
});
</script>