
<% if current_user %>
  <form class="user-forms user-forms--report-pothole">
    <label class="user-forms__label" for="street-name">Street Name</label>
    <input class="user-forms__input" id="street-name" type="text" name="street_name" placeholder="Street Name">
    <label class="user-forms__label" for="town-name">Town Name</label>
    <input class="user-forms__input" id="town-name" type="text" name="town_name" placeholder="Town Name">
    <button class="user-forms__button">Report</button>
  </form>
<% end %>