<% if current_user %>
  <form action="/potholes" method="post">
    <label for="street-name">Street Name</label>
    <input id="street-name" type="text" name="street_name">
    <button>Report</button>
  </form>
<% end %>