body {
  background-image: url("/images/tarmac2.jpg");
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/*Header*/

.header {
  height: 3em;
  width: 100%;
  display: inline-block;
  background-color: white;
}

.logo {
  height: 2em;
  margin: 0.5em auto;
  margin-left: 0.5em;
  display: inline-block;
}

/*User buttons*/

.user-buttons {
  float: right;
  margin-top: 0.75em;
  margin-right: 1.5em;
}

.user-buttons__button {
  display: inline-block;
}

/*Flash*/

.flash {
  width: 80%;
  margin: auto;
  width: 75%;
  margin-top: 1em;
  padding-top: 1em;

  opacity: 0.8;
  border-radius: 0.5em;
}

.flash--errors {
  background-color: #a94442;
  border: 0.1em #990000 solid;
}

.flash--notice {
  background-color: #a1dbad;
  border: 0.1em #3c763d solid;
}

.flash__text {
  opacity: 1;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

/*Signup/Signin*/

.user-forms {
  background-color: white;
  opacity: 0.8;
  border-radius: 1em;
  border-color: black;
  border-width: 1px;
  text-align: center;
  width: 75%;
  margin: 3em auto;
}

.user-forms input {
  display: block;
  margin-bottom: 1em;
  opacity: 1;
  margin: 0 auto;
  text-align: center;
}

.user-forms label {
  visibility: hidden;
}

.user-forms button {
  margin: 1.5em;
}

/*footer*/

.footer {
  background-color: white;
  opacity: 0.8;
}

.footer__logo {
  display: block;
  height: 3.5em;
  margin: 0.5em auto;
}