#map-canvas { height: 50%; width: 50%; margin: auto; padding: 0;}

html, .wrapper, .container {
  height: 100%;
}

body {
  background-image: url("/images/tarmac2.jpg");
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
}

button {
  width: 10em;
  height: 2em;
}

/*Header*/

.header {
  height: 3em;
  width: 100%;
  display: inline-block;
  background-color: white;
}

.logo {
  height: 2em;
  margin: 0.5em auto;
  margin-left: 0.5em;
  display: inline-block;
}

/*Buttons*/

.user-buttons {
  float: right;
  margin-top: 0.75em;
  margin-right: 1.5em;
}

.user-buttons__button {
  display: inline-block;
}

/*Joes Contributions*/

.homepage-header {
  color: yellow;
  font: arial;
  font-size: 2em;
  text-decoration: underline;
  margin-left: 27%;
}

.report-pothole {
  display: inline-block;
}

.view-by-town {
  display: inline-block;
}
/*NOT MADNESS STILL*/
.report-pothole__button {
  margin: 1.5em auto;
  display: inline-block;
}

.view-by-town__button {
  margin:1.5em auto;
  display: inline-block;
}

.center-container {
  margin: 0 auto;
  width: 28%;
}

/*Flash*/

.flash {
  width: 80%;
  margin: auto;
  width: 75%;
  margin-top: 1em;
  padding-top: 1em;

  opacity: 0.8;
  border-radius: 0.5em;
}

.flash--errors {
  background-color: #a94442;
  border: 0.1em #990000 solid;
}

.flash--notice {
  background-color: #a1dbad;
  border: 0.1em #3c763d solid;
}

.flash__text {
  opacity: 1;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

/*Town Listing*/

.town-header {
  color: white;
  text-align: center;
  font-size: 2em;
}

.town-listing {
  background-color: white;
  opacity: 0.8;
  border-radius: 1em;
  border-color: black;
  border-width: 1px;
  text-align: center;
  width: 75%;
  margin: 3em auto;
  height: 3em;
}

/*Pothole listing*/

.pothole-list__item, .pothole-form {
  background-color: white;
  opacity: 0.8;
  border-radius: 1em;
  border-color: black;
  border-width: 1px;
  text-align: center;
  width: 75%;
  margin: 3em auto;
}

.pothole-list__item {
  padding: 1em 2em;
  width: 40%;
  text-align: left;
}

/*Signup/Signin*/

.user-forms {
  background-color: white;
  opacity: 0.8;
  border-radius: 1em;
  border-color: black;
  border-width: 1px;
  text-align: center;
  width: 75%;
  margin: 3em auto;
}

.user-forms input {
  display: block;
  margin-bottom: 1em;
  opacity: 1;
  margin: 0 auto;
  text-align: center;
}

.user-forms label {
  visibility: hidden;
  display: block;
}

.user-forms button {
 /* margin-bottom: 1em;*/
  /*display: block;*/
  margin: 1.5em auto;
}

.user-forms__input--confirm {
  margin-bottom: 1em;
}

.user-forms__alert {
  font-size: 0.75em;
  color: #700000;
}

/*footer*/

.footer {
  background-color: white;
  opacity: 0.8;
}

.footer__logo {
  display: block;
  height: 3.5em;
  margin: 0.5em auto;
}