<% if flash[:errors] %>
  <div class="flash flash--errors">
    <ul>
      <% flash[:errors].each do |error| %>
        <li class="flash__text"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="flash flash--notice">
    <div class="flash__text">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>
