<header class="header">
    <a href='/'>
      <img class="logo" src="/images/logo.png">
    </a>

  <div class="user-buttons">
    <% if current_user %>
      <span><%= current_user.username %></span>
      <form  action="/sessions/end" method="get" id="sign_out" class="user-buttons__button">
        <button onclick="signOut();">Sign out</button>
      </form>
    <% else %>
      <form  action="/sessions/new" method="get" id="sign_in" class="user-buttons__button">
        <button>Sign in</button>
      </form>
      <form action="/users/new" method="get" id="sign_up" class="user-buttons__button">
        <button>Sign up</button>
      </form>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <% end %>
  </div>
</header>