<header>
  <div id="logo">
    <a href='/'><img id="logo_img" src="/images/logo.png"></a>
  </div>

  <div id="user_management">
    <form  action="/sessions/end" method="get" id="sign_out" class="sign_out">
      <button>Sign out</button>
    </form>
    <form  action="/sessions/new" method="get" id="sign_in" class="sign_in">
      <button>Sign in</button>
    </form>
  </div>
</header>