<% if flash[:errors] %>
  <div class="errors">
    <ul>
      <% flash[:errors].each do |error| %>
        <li class="error_text"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if flash[:notice] %>
  <div class="notice">
    <div class="notice_text">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>