<header>
  <div id="logo">
    <img id="logo_img" src="/images/logo.png">
  </div>

  <div id="user_management">
    <form  action="/sessions/end" method="post" id="sign_out" class="sign_out">
      <button>Sign out</button>
    </form>
  </div>

</header>