<% if current_user %>
  <form class="report-pothole" action="/potholes/new">
    <button id="report_pothole" class="report-pothole__button">Report Pothole</button>
  </form>
<% end %>

<%= erb :'potholes/_potholelist' %>
