<div class="center-container">
  <% if current_user %>
    <form class="report-pothole" action="/potholes/new">
      <button class="report-pothole__button">Report Pothole</button>
    </form>
  <% end %>

  <form class="view-by-town"action="/towns">
    <button class="view-by-town__button">View by town</button>
  </form>
</div>
<div class="homepage-left">
  <h2 class="homepage-header">Trending</h2>
  <h2 class="homepage-header">Potholes</h2>
  <%= erb :'potholes/_pothole_list', locals: { potholes: potholes } %>
</div>
<div class="homepage-right">
  <div class="map-canvas" id="map-canvas"></div>
</div>




<script>
  $(document).ready( function() {
    var gmaps = new Gmaps();
    gmaps.initialize('map-canvas', 6, 54.0, -2.5);
    <% mark_all_potholes.each do |pothole| %>
        gmaps.markMapCoord(<%=pothole[:lat]%>,<%=pothole[:lng]%>);
    <% end %>
    });

</script>