<% if current_user %>
  <form class="report-pothole" action="/potholes/new">
    <button id="report_pothole" class="report-pothole__button">Report Pothole</button>
  </form>
<% end %>

<h2>View potholes by town:</h2>
<form method="post" action="/towns">
  <button>View by town</button>
</form>
<%= erb :'potholes/_potholelist' %>
