<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if @current_user %>
  <div>Welcome, <%= User.first(id: session[:user_id]).username %>!</div>
<% end %>

<%= yield %>

</body>
</html>
