<!DOCTYPE html>
<html>
  <head>
    <title>Rate My Pothole</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="/javascript/jquery.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript" src="/javascript/gmaps.js"></script>
    <script type="text/javascript" src="/javascript/geocoder.js"></script>
    <script type="text/javascript" src="/javascript/application.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class='container'>
        <%= erb :_header %>
        <%= erb :_flash %>
        <%= yield %>
      </div>
      <%= erb :_footer %>
    </div>
  </body>
</html>
