<!DOCTYPE html>
<html>
  <head>
    <title>Rate My Pothole</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="/javascript/jquery.js"></script>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript" src="javascript/gmaps.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="182050406581-t2llvsegnsk8ni6k0j2fmesoorr1456i.apps.googleusercontent.com">
    <script type="text/javascript">


    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      $.ajax({
        url: '/sessions',
        data: { username: profile.getId(),
         // email: profile.getEmail(),
         password: profile.getId()
         // password_confirmation: profile.getId() },
       },
        method: 'POST'
      });
    };

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut();
        $.ajax({
        url: '/sessions/end',
        method: 'GET'
      });
    });
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id='container'>
        <%= erb :_header %>
        <%= erb :_flash %>
        <%= yield %>
      </div>
      <%= erb :_footer %>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
