<!DOCTYPE html>
<html>
  <head>
    <title>Rate My Pothole</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="/javascript/jquery.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id='container'>
        <%= erb :_header %>
        <%= erb :_flash %>
        <%= yield %>
      </div>
      <%= erb :_footer %>
    </div>
  </body>
</html>
